
@if (headerIsLoggedIn) {
    <header>
        <div class="logo">
            <img src="../assets/apu.jpg" alt="Icon">
        </div>
        <div class="nav-button">
            <a href="https://publica.uv.cl/" target="_blank">Volver a APU</a>
        </div>
    </header>
} @else{
    <header>
        <div class="logo">
            <img src="../assets/apu.jpg" alt="Icon">
        </div>
        <div class="nav-button">
            <a href="https://publica.uv.cl/" target="_blank">Volver a APU</a>
            <a (click)="logout()" target="_blank">Cerrar sesión</a>
        </div>
    </header>}
