<app-header [headerIsLoggedIn]="false"></app-header>
<div class="p-4 bg-white shadow-lg rounded-lg border">
  <button
    class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3"
    type="button" (click)="goBack()" >
    Volver
  </button>
  <button
    class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3"
    type="button" (click)="goBack()" >
  </button>
  <div class="border rounded-lg w-full">
    <div class="relative w-full overflow-auto">
      <table class="w-full caption-bottom text-sm">
        <thead class="[&amp;_tr]:border-b">
          <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
            <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground">
              Nombre
            </th>
            <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground">
              Semestre
            </th>
            <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground">
              RUT
            </th>
            <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground">
              <span class="sr-only">Actions</span>
            </th>
          </tr>
        </thead>
        <tbody class="[&amp;_tr:last-child]:border-0">
          <tr *ngFor="let student of students" class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
            <td class="p-4 align-middle font-medium">{{ student.name }}</td>
            <td class="p-4 align-middle font-medium">{{ student.semester }}</td>
            <td class="p-4 align-middle font-medium">{{ student.rut }}</td>
            <td class="p-4 align-middle relative">
              <button (click)="openModal(student)"
                class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3"
                type="button">
                Ver Seguimientos
              </button>
              <button (click)="openModalStudent(student)"
                class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3"
                type="button">
                Ver Alumno
              </button>
              <div class="inline-flex items-center justify-center relative">
                <button (click)="toggleExportDropdown(student)"
                  class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3"
                  type="button">
                  Exportar Estudiante
                </button>
                <div *ngIf="exportDropdownVisible && selectedStudent === student" class="absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5">
                  <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                    <a (click)="exportToExcel(student)" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 actionButton">Exportar a Excel</a>
                    <a (click)="generateWordFile(student)" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 actionButton">Generar archivo Word</a>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-modal-follow-ups [showModal]="showModal" [student]="selectedStudent" (closeModalEvent)="handleCloseModal()"/>
<app-modal-student [showModalStudent]="showModalStudent" [student]="selectedStudent" (closeModalEvent)="handleCloseModalStudent()" />