@charset "utf-8";

.page-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Use the full height of the viewport */
}

.buttons {
  display: flex;
  flex-direction: row; /* Ensure buttons are in a row */
  align-items: center;
  justify-content: center;
  max-height: 100%;
  overflow: auto;
}

.tarjeta {
  display: flex;
  height: 200px;
  flex-direction: column;
  justify-content: space-between;
  width: 420px;
  border: 2px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;
  margin-right: 20px; /* Adjust margin for separation */
  margin-bottom: 20px; /* Add margin-bottom for separation */
}
.tarjeta:hover {
  border: 2px solid #a3a3a3; /* Slightly darker border on hover */
  box-shadow: 4px 4px 12px 6px #c3c3c3d1; /* Increased shadow for depth */
  transform: translateY(-5px); /* Slightly raise the card */
  transition: all 0.3s ease-in-out; /* Smooth transition for the effect */
}

.titulo {
  font-size: 24px;
  padding: 10px; /* Uniform padding */
  text-align: center;
}

.cuerpo {
  padding: 10px; /* Uniform padding */
}

.pie {
  background: #003c58;
  border-radius: 0 0 15px 15px;
  padding: 10px; /* Uniform padding */
  text-align: center;
}

.pie a {
  text-decoration: none;
  color: white;
  position: relative; /* Ensure position is relative for pseudo-element */
}

.pie a:after {
  position: absolute;
  top: 0;
  right: 0;
}

