<div class="container mx-auto mt-10">
    <h2 class="text-2xl font-semibold mb-4">Entrevista personal a estudiante</h2>
    <form [formGroup]="interviewForm" (ngSubmit)="onSubmit()">
      <div class="grid-container">
        <div class="mb-4 full-width">
          <label for="date">Fecha y hora:</label>
          <input id="date" type="datetime-local" formControlName="date" />
        </div>
        <div class="mb-4 full-width">
          <label for="place">Lugar:</label>
          <input id="place" type="text" formControlName="place" />
        </div>
        <div class="mb-4 full-width">
          <label for="campus">Campus:</label>
          <input id="campus" type="text" formControlName="campus" />
        </div>
      </div>
  
      <h3 class="text-xl font-semibold mt-6 mb-4">Antecendentes geneales del estudainte (informados por éste):</h3>
      <div class="grid-container">
        <div class="mb-4">
          <label for="grades">Calificaciones (promedio a la fecha):</label>
          <input id="grades" type="text" formControlName="grades" />
        </div>
        <div class="mb-4">
          <label for="attendance">Asistencia (%):</label>
          <input id="attendance" type="text" formControlName="attendance" />
        </div>
        <div class="mb-4">
          <label for="participation">Participación en clases:</label>
          <input id="participation" type="text" formControlName="participation" />
        </div>
        <div class="mb-4">
          <label for="other">Otro (especificar):</label>
          <input id="other" type="text" formControlName="other" />
        </div>
      </div>
  
      <h3 class="text-xl font-semibold mt-6 mb-4">Justificación de atención</h3>
      <div class="grid-container">
        <div class="mb-4 full-width">
          <label for="justification">Justificación de atención:</label>
          <input id="justification" type="text" formControlName="justification" />
        </div>
      </div>
  
      <h4 class="text-xl font-semibold mt-6 mb-4">De carácter académico:</h4>
      <div class="grid-container">
        <div class="mb-4">
          <label for="comprehensionProblems">Problemas de comprensión en clases:</label>
          <input id="comprehensionProblems" type="text" formControlName="comprehensionProblems" />
        </div>
        <div class="mb-4">
          <label for="lackOfPriorKnowledge">Falta de conocimientos previos:</label>
          <input id="lackOfPriorKnowledge" type="text" formControlName="lackOfPriorKnowledge" />
        </div>
      </div>
  
      <h4 class="text-xl font-semibold mt-6 mb-4">De salud:</h4>
      <div class="grid-container">
        <div class="mb-4 full-width">
          <label for="healthReasons">Motivos de salud (especificar):</label>
          <input id="healthReasons" type="text" formControlName="healthReasons" />
        </div>
      </div>
  
      <h4 class="text-xl font-semibold mt-6 mb-4">De carácter social:</h4>
      <div class="grid-container">
        <div class="mb-4 full-width">
          <label for="socialReasons">Motivos de índole social (especificar):</label>
          <input id="socialReasons" type="text" formControlName="socialReasons" />
        </div>
      </div>
  
      <h4 class="text-xl font-semibold mt-6 mb-4">Otro:</h4>
      <div class="grid-container">
        <div class="mb-4 full-width">
          <label for="otherReasons">Otro (especificar):</label>
          <input id="otherReasons" type="text" formControlName="otherReasons" />
        </div>
      </div>
  
      <div class="grid-container">
        <div class="mb-4 full-width">
          <label for="remedialActions">Acciones remédiales recomendadas:</label>
          <input id="remedialActions" type="text" formControlName="remedialActions" />
        </div>
      </div>
  
      <div class="flex items-center justify-between">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          Guardar
        </button>
      </div>
      <div class="flex items-center justify-between">
        <button (click)="exit()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          Salir
        </button>
        <button (click)="debug()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          Salir
        </button>
      </div>
    </form>
  </div>
  